@font-face {
    font-family: "FnfWeekUiFont";
    src: url("font/FnfWeekUiFont.ttf");
  }

*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: #A1C3D1;
    font-family: 'FnfWeekUiFont', serif;

}

nav{
    position: absolute;
    width: 5000px;
    height: 40px;
    margin-top: 50px;
    background-color:  #B39BC8;

    display: flex;
    justify-content: space-between;


}

.block{
    width: 550px;
    height: 150px;

    background-color: #2d2c31;
}

.shadowmario{
    position: absolute;
    left: 480px;
    top: 20px;

    width: 200px;
    height: 200px;
}

h1{
    font-size: 40px;;
}

.smText{
    color: white;
    font-size: 30px;
    text-align: left;
}

.name{
    font-size: 100px;
    margin: 50px;
}


.block2{
    width: 550px;
    height: 150px;
    position: absolute;
    right: 0px;

    background-color:  #9bc89f;
}

.bbpanzu{
    position: absolute;
    left: -150px;
    top: -35px;

    width: 260px;
    height: 260px;
    transform: scale(-1, 1)
}

.bbText{
    color: white;
    font-size: 30px;
    text-align: right;
}

.block3{
    width: 550px;
    height: 150px;

    background-color:  #c89bbc;

    position: absolute;
    top: 613px;
}

.riveren{
    position: absolute;
    left: 450px;
    top: -10px;

    width: 260px;
    height: 260px;
}

.riText{
    color: white;
    font-size: 30px;
    text-align: left;
}

.block4{
    width: 550px;
    height: 150px;
    position: absolute;
    right: 0px;
    top:  763px;

    background-color:  #82a9c3;
}

.shubs{
    position: absolute;
    left: -150px;
    top: -10px;

    width: 260px;
    height: 260px;
    transform: scale(-1, 1)
}

.shText{
    color: white;
    font-size: 30px;
    text-align: right;
}

.apha{
    visibility: hidden;
}


.block{
    animation: splash 2s normal forwards ease-in-out;
}

.block2{
    animation: splash2 2s normal forwards ease-in-out;
}

.block3{
    animation: splash 2s normal forwards ease-in-out;
}

.block4{
    animation: splash2 2s normal forwards ease-in-out;
}

@keyframes splash {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes hover2 {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)

    }
}

@keyframes splash2 {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}

.icons{
    height: 10vh;
    background-color: #7b949e;
}

p{
    visibility: hidden;
}